/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #111;
  color: #e6be8a;
}

body {
  display: -ms-flexbox;
  display: flex;
  font-family: 'Libre Franklin', sans-serif;
}

.cover-container {
  max-width: 42em;
}


/*
 * Globals
 */

/* Custom default button */
.btn-secondary {
  color: #e6be8a;
  border: 2px solid #e6be8a;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: transparent;
  border-radius: 0;
}
.btn-secondary:hover,
.btn-secondary:focus {
  color: #1b1917;
  border: 2px solid #e6be8a;
  background-color: #e6be8a;
}

label {
  margin-bottom: .2rem;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.cover .cover-heading-container {
  display: inline-block;
  margin: 0 auto;
}

.cover .cover-heading {
  font-size: 4em;
  font-weight: 900;
  line-height: 1;
}

.cover .cover-subheading {
  font-weight: 400;
  font-style: italic;
  padding-bottom: 24px;
  border-bottom: 1px solid #e6be8a;
}

@media only screen and (min-width: 768px) {
  .cover .cover-heading {
    font-size: 6em;
  }
}

.cover .cover-heading.cover-heading-contact {
  font-size: 4em;
}

/*
 * Form
 */
.form {
  padding-top: 24px;
  max-width: 360px;
  margin: 0 auto;
}


.form-control {
  background-color: transparent;
  color: #e6be8a;
  transition: all .2s ease-in-out;
  border-radius: 0;
  border: 2px solid #e6be8a;
  font-size: 1.4em;
  outline: none;
}
.form-control:focus {
  background-color: #e6be8a;
  box-shadow: 0 0 5px rgba(230,190,138, 0.65);
  color: #111;
}
#my-form-status {
  color: #e6be8a;
}


/*
 * Footer
 */
.mastfoot {
  /*color: rgb(217, 124, 80);*/
}
